<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Screen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <h1 class="logo">Kazy</h1>
        <nav class="nav-links">
          <a class="disabled" href="/">Home</a>
          <a href="/add_product">Add Product</a>
        </nav>
    </header>
  <div class="container">
    <h2>Search Products Here...!</h2>
    <form action="/search" method="post" class="search-form">
        <input type="text" name="searchInput" placeholder="Search..." class="search-input">
        <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
    </form>
  </div>
</body>
</html>
